body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

.gallery {
	display : flex; 
	flex-wrap : wrap;
	justify-content: center;
	margin-top: 50px;
}

.image {
	margin: 10px;
}

.image img {
	width : 300px; 
	height : auto; 
	border-radius : 5px; 
	box-shadow: Opx 0px 5px rgba(0, 0, 0, 0.3);
}
